@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  background-color: #ffffff;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}
